*
	font-family: 'Open Sans', sans-serif

.header
	height: 120px
	&_logo
		display: block
		margin-top: 30px
		font-size: 40px
		font-weight: 800
		color: #eba56c
	img
		max-width: 100%
	&_search
		height: 36px
		width: 100%
		margin-top: 43px
		padding: 0 22px
		border-radius: 8px
		border: 0.1px solid #cecece
		font-size: 14px
		&_icon
			position: absolute
			bottom: 49px
			right: 28px

.menu
	display: flex
	justify-content: space-around
	padding: 48px 0
	margin: 0
	list-style-type: none
	&_link
		color: #343434
		font-size: 12px
		font-weight: 600
		text-transform: uppercase

.subheader
	height: 50px
	padding: 12px 0
	background-color: #eba56c
	&_geoposition_city
		color: #ffffff
		font-size: 14px
	&_subscribe_link
		color: #ffffff
		font-size: 14px
		text-decoration: underline
	&_socials
		&_list
			display: flex
			justify-content: flex-end
			list-style-type: none
		&_item
			margin-left: 10px
	a
		color: #ffffff
		img
			max-width: 28px

.news
	padding: 45px 0 45px 0
	&_block
		display: inline-block
		height: 21px
		width: 6px
		background-color: #eba56c
		margin: 13px 5px 0 0
	h2
		display: inline-block
		font-size: 30px
		color: #343434
		font-weight: 800
