* {
    font-family: 'Open Sans', sans-serif;
}
.header {
    height: 100px;
}
.header .header_logo {
    display: block;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 800;
    color: #eba56c;
}
.header .header_logo img {
    max-width: 100%;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding: 38px 0;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    color: #343434;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.subheader {
    height: 50px;
    background-color: #eba56c;
}